.penHolderImg {
  width: 50%;
}

h2 {
  color: var(--primary-color);
}

.work-wrapper {
  width: 100%;
  overflow: hidden;
  font-size: 1.2em;
}

.penHorlder {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
  max-width: 960px;
  overflow: hidden;
  padding: 60px 0;
  text-align: center;
}

.work-innerWrap {
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--primary-color);
}
.work-innerWrap-white {
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(241, 241, 241);
}

.work-innerWrap h2 {

  color: #fff;
  font-size: 3rem;
  font-family: var(--heading-font);
  line-height: 2rem;
}
.work-innerWrap-white h2 {
  color: var(--primary-color);
  font-size: 3rem;
  font-family: var(--heading-font);
  line-height: 2rem;
}
p {
  margin-top: 15px;
}

.image-container{
  overflow: hidden;
  width: 60%;
  margin: 50px 0;
  box-shadow: 0px 3px 10px 1px rgb(122, 122, 122);
}
.work-img {
  width: 100%;
  height: auto;
  border-radius: 3px;
  transition: 1s ease-out;
  transform: scale(1);
}
.work-img:hover{
  transform:scale(1.2) ;
}


.work-innerWrap-white .work-description {
  /* padding: 0 150px; */
  max-width: 960px;
  text-align: center;
  color: #000;
}

.work-description {
  padding: 0 150px;
  max-width: 960px;
  text-align: center;
  color: #fff;
}

.work-link {
  margin: 15px;
}

.work-link a {
  background-color: #f44336;
  color: white;
  width: 200px;
  padding: 10px 30px;
  margin: 15px 0;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-family: var(--heading-font);
  text-transform: uppercase;
  font-weight: 900;
  transition: 0.3s;
  border-radius: 5px;
}

.work-link a:hover {
  background-color: #d34238;
}

@media only screen and (max-width: 975px) {
  .image-container{
  overflow: hidden;
  width: 100%;
  margin: 30px 0;
}
  .work-img {
    width: 100%;
    margin: 30px 0;
  }
  .work-description {
    padding: 0;
  }
  .work-innerWrap h2 {
    font-size: 2rem;
  }
  .work-innerWrap-white h2 {
    font-size: 2rem;
  }
}
